In [1]:
from glob import glob
import json
import pandas as pd

In [2]:
dir_ = './strategies'

In [3]:
rwrd_paths = glob(dir_+'/reward*.csv')

In [4]:
info = []
for rwrd_path in rwrd_paths:
    rwrd = pd.read_csv(rwrd_path)
    lt_brute = rwrd[rwrd['strategy']=='reward_greedy']['lt-brute ocurrences'].values[0]
    sett_path = rwrd_path.split('reward')
    sett_path = 'settings'.join(sett_path).rstrip('csv')
    sett_path = sett_path + 'json'
    
    info_i = {'lt-brute': lt_brute, 'reward_path': rwrd_path, 'settings_path': sett_path}
    info.append(info_i)

In [5]:
info = pd.DataFrame(info)
info = info.sort_values('lt-brute', ascending=False, axis=0)

In [6]:
info.head()

    lt-brute                reward_path                 settings_path
19       270   ./strategies/reward0.csv   ./strategies/settings0.json
12       266   ./strategies/reward4.csv   ./strategies/settings4.json
0        244   ./strategies/reward8.csv   ./strategies/settings8.json
10       233  ./strategies/reward12.csv  ./strategies/settings12.json
5        205  ./strategies/reward16.csv  ./strategies/settings16.json

In [7]:
counter = 0
sett_path = info.iloc[0]['settings_path']
for _, row in info.iterrows():
    if counter >=10:
        break
    lt_brute = row['lt-brute']
    sett_path = row['settings_path']
    with open(sett_path) as f:
        sett = json.load(f)
    
    print(sett_path)
    print('lt-brute: ', lt_brute)
    print(sett)
    print('------------')
    counter +=1

./strategies/settings0.json
lt-brute:  270
{'tree_args': {'cost_obs': 1, 'cost_spec': 1, 'cost_col': 1, 'cost_coeff': 0.025, 'p_thres': None}, 'root_args': {'n_obs': 5, 'n_spec': 0, 'n_color': 0}}
------------
./strategies/settings4.json
lt-brute:  266
{'tree_args': {'cost_obs': 1, 'cost_spec': 3, 'cost_col': 1, 'cost_coeff': 0.025, 'p_thres': None}, 'root_args': {'n_obs': 5, 'n_spec': 0, 'n_color': 0}}
------------
./strategies/settings8.json
lt-brute:  244
{'tree_args': {'cost_obs': 1, 'cost_spec': 5, 'cost_col': 1, 'cost_coeff': 0.025, 'p_thres': None}, 'root_args': {'n_obs': 5, 'n_spec': 0, 'n_color': 0}}
------------
./strategies/settings12.json
lt-brute:  233
{'tree_args': {'cost_obs': 1, 'cost_spec': 7, 'cost_col': 1, 'cost_coeff': 0.025, 'p_thres': None}, 'root_args': {'n_obs': 5, 'n_spec': 0, 'n_color': 0}}
------------
./strategies/settings16.json
lt-brute:  205
{'tree_args': {'cost_obs': 1, 'cost_spec': 9, 'cost_col': 1, 'cost_coeff': 0.025, 'p_thres': None}, 'root_args': {'n_obs': 5, 'n_spec': 0, 'n_color': 0}}
------------
./strategies/settings1.json
lt-brute:  179
{'tree_args': {'cost_obs': 1, 'cost_spec': 1, 'cost_col': 1, 'cost_coeff': 0.05, 'p_thres': None}, 'root_args': {'n_obs': 5, 'n_spec': 0, 'n_color': 0}}
------------
./strategies/settings5.json
lt-brute:  153
{'tree_args': {'cost_obs': 1, 'cost_spec': 3, 'cost_col': 1, 'cost_coeff': 0.05, 'p_thres': None}, 'root_args': {'n_obs': 5, 'n_spec': 0, 'n_color': 0}}
------------
./strategies/settings9.json
lt-brute:  134
{'tree_args': {'cost_obs': 1, 'cost_spec': 5, 'cost_col': 1, 'cost_coeff': 0.05, 'p_thres': None}, 'root_args': {'n_obs': 5, 'n_spec': 0, 'n_color': 0}}
------------
./strategies/settings13.json
lt-brute:  121
{'tree_args': {'cost_obs': 1, 'cost_spec': 7, 'cost_col': 1, 'cost_coeff': 0.05, 'p_thres': None}, 'root_args': {'n_obs': 5, 'n_spec': 0, 'n_color': 0}}
------------
./strategies/settings17.json
lt-brute:  117
{'tree_args': {'cost_obs': 1, 'cost_spec': 9, 'cost_col': 1, 'cost_coeff': 0.05, 'p_thres': None}, 'root_args': {'n_obs': 5, 'n_spec': 0, 'n_color': 0}}
------------

In [8]:
path = './strategies/reward8.csv'
pd.read_csv(path)

,strategy,=brute ocurrences,=brute rate,gt-brute mean,gt-brute ocurrences,gt-brute rate,lt-brute mean,lt-brute ocurrences,lt-brute rate
0,prob_greedy,809,0.529797,NaN,0,0.0,-0.126368,718,0.470203
1,reward_greedy,1283,0.840210,NaN,0,0.0,-0.066966,244,0.159790
2,photometry_only,739,0.483955,NaN,0,0.0,-0.124982,788,0.516045

In [9]:
path = './strategies/cost8.csv'
pd.read_csv(path)

,strategy,=brute ocurrences,=brute rate,gt-brute mean,gt-brute ocurrences,gt-brute rate,lt-brute mean,lt-brute ocurrences,lt-brute rate
0,prob_greedy,812,0.531762,6.338028,710,0.464964,-1.800000,5,0.003274
1,reward_greedy,1297,0.849378,2.967742,124,0.081205,-3.471698,106,0.069417
2,photometry_only,807,0.528487,4.262712,472,0.309103,-2.008065,248,0.162410

In [11]:
path = './strategies/prob8.csv'
pd.read_csv(path)

,strategy,=brute ocurrences,=brute rate,gt-brute mean,gt-brute ocurrences,gt-brute rate,lt-brute mean,lt-brute ocurrences,lt-brute rate
0,prob_greedy,959,0.628029,0.056023,480,0.314342,-0.060777,88,0.057629
1,reward_greedy,1319,0.863785,0.033891,43,0.028160,-0.107861,165,0.108055
2,photometry_only,851,0.557302,0.052969,246,0.161100,-0.171317,430,0.281598